<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="34fd0964-f047-4601-a5a6-929d21e3046d" name="SOAP TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="34fd0964-f047-4601-a5a6-929d21e3046dfileName">SOAP-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="3c2b8de8-35c0-4232-b2cf-43bc1f990db1">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="673fa818-56dd-4039-a3eb-d66c76e7f936">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
  <con:tagId>777149a0-3f5d-4d70-8d2d-32dccf4804fa</con:tagId>
</con:testSuite>
