<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="524200bb-4e9b-4bfb-ae46-0cd050f48a86" name="Project 2 TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="524200bb-4e9b-4bfb-ae46-0cd050f48a86fileName">Project-2-TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
