<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="fd39b706-ab7c-4ae1-97df-c2fc4301b495" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://maps.googleapis.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fd39b706-ab7c-4ae1-97df-c2fc4301b495fileName">https%3A%2F%2Fmaps.googleapis.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://maps.googleapis.com</con:endpoint>
  </con:endpoints>
</con:interface>
