<?xml version="1.0" encoding="UTF-8"?>
<con:customMockService id="e76268c8-3d6e-4968-a22d-18b48953f3e2" name="JMS Virtual Service 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e76268c8-3d6e-4968-a22d-18b48953f3e2fileName">JMS-Virtual-Service-1</con:setting>
  </con:settings>
  <con:properties>
    <con:property>
      <con:name>jmsMockService.ttlHopLimit</con:name>
      <con:value>10</con:value>
    </con:property>
  </con:properties>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:virtProperties>
    <con:property>
      <con:name>mockServiceType</con:name>
      <con:value>JMS</con:value>
    </con:property>
  </con:virtProperties>
</con:customMockService>
