<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="71754fe7-5425-4145-9ba9-fc9b15f8b93c" name="https://maps.googleapis.com TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="71754fe7-5425-4145-9ba9-fc9b15f8b93cfileName">https%3A%2F%2Fmaps.googleapis.com-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
